body {
    font-size: 16px;
}

.clear  {
    clear: both;
}

.float-left {
    float: left;
}

.aside {
    background-color: #daccff;
    width: 25%;
}

.head {
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
}

img {
    max-width: 100%;
}

.main-chonk {   
    background-color: #fbffcc;
    width: 50%;
}

.nav {
    background-color: #ccffed;
    width: 25%;
}

